title: Hyper Local
email: digitalscholarship@swarthmore.edu
description: >-
  Exhibit featuring newly acquired local works in the Swarthmore College Libraries' artist book collection
# baseurl: ""
baseurl: "/dev/hyper-local"
url: "https://ds-pages.swarthmore.edu"
author: Digital Scholarship at Swarthmore College Libraries
github_username:  swat-ds
twitter_username: swatlibrary
lang: 'en'
assets_path: /assets/images/

navigation:
  - title: Home
    url: '/'
  - title: About
    url: '/'

# Build settings
encoding: "utf-8"

plugins:
  - pagemaster
  - jemoji

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - .DS_Store
  - .sass-cache/
  - .jekyll-cache/
  - .vscode
  - .bundle
  - package*
  - vendor
  - README.md

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

collections:
  works:
    output: true
    permalink: /works/:path/
    source: hyper-local-works-list.json
    id_key: Work
    layout: single

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # https://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style

# HTML Compression
# - https://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development

