<!-- Collection Grid -->

<section class="row collection-grid">
    
    {% for item in include.collection %}

    <div class="column collection-item" style="background-image:url('{{ item.Images[0] | prepend: '/' | prepend: item.collection | prepend: site.assets_path | relative_url }}')">
        <a href="{{ item.url | relative_url }}">
        <span class="collection-item-title">{{ item.Title }}</span>
        <span class="collection-item-artist">{{ item.Artist }}</span>
        </a>
    </div>

    {% endfor %}


</section>