
h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
    color: $title-color;
}

a {
    color: initial;
    text-decoration: underline;
}

a, h1, h2, h3, h4, h5, h6 {
    -webkit-transition: color .25s ease;
    -ms-transition: color .25s ease;
    transition: color .25s ease;
}

.navigation {
    background: linear-gradient(rgba(#fff,1), 90%, rgba(#fff, 0));
    opacity: 1;

    height: 20rem;
    width: 100%;
    padding-top: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;

    -webkit-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    transition: opacity .5s ease;

    @media screen and (min-width: 80rem) {
        height: 7rem;
    }
}

.navigation nav {

    a { text-decoration: none; }
    a:hover h4 { color: lighten($title-color,50%); }

    ul {
        justify-content: flex-end;
        flex-direction: column;

        @media screen and (min-width: 80rem) {
            flex-direction: row;
        }
    }

    ul li {
        @media screen and (min-width: 80rem) {
            text-align: right;
        }
    }

    ul li:first-of-type {
        text-align: left;
        margin-left: 0;
        margin-right: auto;
    }
}

main > section.container {
    margin-top: 10rem;
    margin-bottom: 4rem;
}

footer {

    border-top: 2px solid $title-color;

    .row {
        justify-content: flex-end;
    }

    .row p.column {
        padding-top: 2rem;
        max-width: 33%;
        font-size: 1rem;

        @media screen and (min-width: 80rem) {
            padding-top: 6rem;
            padding-bottom: 5rem;
        }
    }

    p.footer-copyright {
        text-align: left;
        margin-left: 0;
        margin-right: auto;
    }

    p.footer-library.column {
        max-width: 22rem;
        padding-top: 1.8rem;

        img {
            max-width: 22rem;
        }
    }
}

// Header
.header header {

    height: 50rem;
    background-image: linear-gradient(rgba(255,255,255,.15), rgba(255,255,255,.8)), url('../images/OTW_Fairmount.png');
    background-attachment: fixed;
    background-size: 350%;
    background-position: top center;
    background-repeat: no-repeat;

    @media screen and (min-width: 80rem) {
        background-size: contain;      
    }

    #masthead h1 {
        padding-top: 50rem;
    }    
}

.header main > section.container {
    margin-top: 10rem;
}

// Splash Page

.splash .navigation {
    opacity: 0;
}

.splash .navigation.show {
    opacity: 1;
}

.splash main > section.container {
    margin-top: 14rem;
    @media screen and (min-width: 80rem) {
        margin-top: 12rem;
    }
}    

.splash header {

    #masthead {
        position: relative;
        top: -22rem;

        h1 {
            font-size: 4.6rem * 2;
        }

        span {
            font-family: $title-font;
            color: $title-color;
            font-size: 2.3rem;

        }

        @media screen and (min-width: 80rem) {
            position: relative;
            top: -9rem;

            h1 { font-size: 4.6rem * 3;}
            span {
                position: relative;
                left: 4.6rem * 5;
                top: -4.6rem;
                vertical-align: text-top;
            }
        }

    }
}


// Collection grid

.collection-grid {

    flex-wrap: wrap;
    margin-left: -2rem;
    margin-bottom: 2rem;

    a { text-decoration: none; }

    .collection-item {
        max-width: 25rem;
        height: 25rem;
        margin-left: 2rem;
        padding: 0;
        border-radius: 2px;
        box-shadow: 0 0 .5rem rgba(#6a6a6a, 0.25);
        background-size: cover;
        background-repeat: no-repeat;

    }

    .collection-item a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 1rem;
        background-color: initial;
        -webkit-transition: background-color .25s ease;
        -ms-transition: background-color .25s ease;
        transition: background-color .25s ease;    

        &:hover {
            background-color: rgba($title-color, 0.9);

            span {
                color: rgba(255,255,255,1)
            }
        }
    }

    .collection-item span {
        text-align: center;
        width: 100%;
        display: block;
        color: rgba(255,255,255,.5)
    }

    .collection-item-title {
        font-style: italic;
        padding-top: 50%;
    }
}

// Single work layout

.work-images {
    ul#image-list {
        list-style: none;

        img {
            width: 100%;
            box-shadow: 0 0 .5rem rgba(#6a6a6a, 0.5);
        }
    }
}

.work-meta {
    span {
        display: block;
        margin-bottom: 1rem;
    }

    span.work-artist-date {
        font-size: 2.2rem;
        line-height: 1.35;
    }
}